<div class="container">
  <a [routerLink]="['/']">
    Retour aux articles!
  </a>

  <h1>
    {{ article.titre }}
  </h1>

  <img src="{{article.photo}}">

  <div>
    {{ article.contenu }}
  </div>
</div>

