<div  class="card m-2" style="width: 18rem;">
  <img src="{{ article.photo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5  class="card-title text-danger">{{ article.titre }}</h5>
    <a [routerLink]="['/article', article.id]" class="btn btn-primary">
      <fa-icon [icon]="faEye"></fa-icon>
    </a>
  </div>
</div>
