<ngb-carousel #carousel [interval]="1000">
  <ng-template ngbSlide *ngFor="let img of arrayImages; index as i">
      <div class="picsum-img-wrapper">
        <img style="object-fit: cover; width: 100%" [src]="img">
      </div>
  </ng-template>
</ngb-carousel>

<h1>Tous les articles !</h1>
<div class="container">
  <div class="row">
    <app-card-article class="col-4" *ngFor="let article of articles" [article]="article">
    </app-card-article>
  </div>

  <button (click)="redirectFromTs()">Aller sur la page sport !</button>

</div>
toto
