<a [routerLink]="['/admin/article/ajout']">Ajouter un nouvel article !</a>

<h1>Les articles en base de donnée</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Image</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles">
    <th scope="row">{{ article.id }}</th>
    <td>{{ article.titre }}</td>
    <td>
      <img style="max-width: 250px;" class="img-thumbnail img-fluid img-thumbnail" src="{{article.photo}}" alt="Oops j'ai pas de alt"/>
    </td>
    <td>

    </td>
  </tr>
  </tbody>
</table>
