<div class="container">
  <h1>Ajout d'un nouvel article</h1>

  <form #form="ngForm" (ngSubmit)="articleSubmit()">

    <div class="form-group">
      <label for="titre">Titre de l'article</label>
      <input type="text"
             class="form-control"
             id="titre" #titre="ngModel"
             required
             name="titre" [(ngModel)]="articleForm.titre">
       </div>


    <div class="form-group">
      <label for="contenu">Contenu de l'article</label>
      <textarea
             class="form-control"
             id="contenu" #contenu="ngModel"
             required
             name="contenu" [(ngModel)]="articleForm.contenu">
      </textarea>

    </div>

    <div class="form-group">
      <label for="photo">Url de l'image de l'article</label>

      <input id="photo" name="photo" type="url"
             class="form-control"
             [(ngModel)]="articleForm.photo"
             required
             #photo="ngModel">

    </div>

    <div class="form-group">
      <label for="category">Catégorie de l'article</label>
      <select
        required
        #category="ngModel"
        class="form-control"
        name="category" id="category" [(ngModel)]="articleForm.category">
        <option [ngValue]="undefined">Veuillez saisir qq chose</option>
        <option *ngFor="let categ of categories" [ngValue]="categ">
          {{categ}}
        </option>

      </select>


    </div>



    <input class="btn btn-success mt-5" [disabled]="!form.valid" type="submit">
  </form>

</div>

